@charset "UTF-8";
/*fonts*/
@font-face {
  font-family: "Mplus 1p";
  src: url("../fonts/Mplus1p-Regular.woff2") format("woff2"), url("../fonts/Mplus1p-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mplus 1p";
  src: url("../fonts/Mplus1p-Medium.woff2") format("woff2"), url("../fonts/Mplus1p-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Mplus 1p";
  src: url("../fonts/Mplus1p-Bold.woff2") format("woff2"), url("../fonts/Mplus1p-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Mplus 1p";
  src: url("../fonts/Mplus1p-ExtraBold.woff2") format("woff2"), url("../fonts/Mplus1p-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
/*default*/
:root {
  --container: 1110px;
  --padding-container: 15px;
  --bg-color-main: #ffffff;
  --bg-color: #F4F8FD;
  --border-color: #E6E8EC;
  --text-color: #323A49;
  --text-link-color:#334059;
  --text-small-color: #858C9C;
  --link-color: #275BA8;
  --line-color: #C7D0E2;
  --hovered--link-color: #386EBE;
  --button-color: #2054A1;
  --border-color: #E9EDF3;
  --mobile-link-color:#CAE2FF;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Mplus 1p", sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color-main);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  position: relative;
}
body.lock {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

iframe {
  border: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

section {
  padding: 30px 0;
}
@media (max-width: 1024px) {
  section {
    padding: 34px 0;
  }
}
@media (max-width: 880px) {
  section {
    padding: 20px 0;
  }
}

.container {
  max-width: calc(var(--container) + var(--padding-container) * 2);
  padding: 0 var(--padding-container);
  margin: 0 auto;
}

.title {
  font-size: 64px;
  font-weight: 700;
  line-height: 72px; /* 112.5% */
}
@media (max-width: 1024px) {
  .title {
    font-size: 48px;
    line-height: 60px; /* 125% */
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 36px;
    line-height: 48px; /* 133.333% */
  }
}
@media (max-width: 425px) {
  .title {
    font-size: 21px;
    line-height: 32px; /* 152.381% */
  }
}

.subtitle {
  font-size: 36px;
  font-weight: 700;
  line-height: 47px;
}
@media (max-width: 1024px) {
  .subtitle {
    font-size: 30px;
    line-height: 39px;
  }
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 24px;
    line-height: 32px;
  }
}

.arrow-next:hover > svg > path,
.arrow-prev:hover > svg > path {
  fill-opacity: 1;
}
.arrow-next:focus > svg > path,
.arrow-prev:focus > svg > path {
  fill-opacity: 1;
}

/*подзаголоки h3*/
/*header*/
.header {
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (max-width: 970px) {
  .header {
    background-color: var(--link-color);
  }
}
@media (max-width: 720px) {
  .header {
    flex-direction: column-reverse;
  }
}
@media (max-width: 970px) {
  .header-bottom {
    display: none;
  }
}
@media (max-width: 720px) {
  .header-top {
    height: 100px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 15px 25px;
}
@media (max-width: 1024px) {
  .header__container {
    padding: 29px 42px 28px;
  }
}
@media (max-width: 970px) {
  .header__container {
    padding: 25px;
  }
}
@media (max-width: 720px) {
  .header__container {
    padding: 11px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
@media (max-width: 720px) {
  .header__logo {
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 15px 0;
  }
}
.header__page-vertions {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
@media (max-width: 1024px) {
  .header__page-vertions {
    row-gap: 10px;
  }
}
@media (max-width: 970px) {
  .header__page-vertions {
    display: none;
  }
}
.header__links {
  display: flex;
  max-width: 286px;
  gap: 7px;
}
@media (max-width: 1024px) {
  .header__links {
    max-width: 251px;
    gap: 33px;
  }
}
@media (max-width: 970px) {
  .header__links {
    max-width: 207px;
    gap: 30px;
  }
}
@media (max-width: 425px) {
  .header__links {
    max-width: 196px;
    gap: 20px;
  }
}
.header__search {
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
}
@media (max-width: 970px) {
  .header__search {
    border: none;
    padding: 0;
    height: 22px;
  }
}
.header__search:hover {
  background-color: var(--hovered--link-color);
  cursor: pointer;
}
@media (max-width: 970px) {
  .header__search:hover {
    background-color: transparent;
  }
}
.header__search-btn {
  width: 100%;
  padding: 16px 30px;
}
@media (max-width: 1024px) {
  .header__search-btn {
    padding: 14px 18px;
  }
}
@media (max-width: 970px) {
  .header__search-btn {
    padding: 0;
  }
  .header__search-btn > svg > path {
    fill: var(--mobile-link-color);
  }
}

.logo-img {
  width: 100px;
  height: 52px;
}
.logo-img > svg > path {
  fill: var(--link-color);
}
@media (max-width: 1050px) {
  .logo-img {
    width: 60px;
    height: 100%;
  }
}
@media (max-width: 970px) {
  .logo-img > svg > path {
    fill: var(--mobile-link-color);
  }
}
@media (max-width: 720px) {
  .logo-img {
    width: 40px;
  }
  .logo-img > svg > path {
    fill: var(--link-color);
  }
}

.logo-text {
  font-size: 23px;
  font-weight: 800;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .logo-text {
    font-size: 18px;
  }
}
@media (max-width: 970px) {
  .logo-text {
    color: var(--bg-color-main);
    font-size: 16px;
  }
}
@media (max-width: 720px) {
  .logo-text {
    color: var(--text-color);
    font-size: 14px;
  }
}
.logo-text small {
  display: block;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.2px;
  margin-bottom: 3px;
}
@media (max-width: 1024px) {
  .logo-text small {
    font-size: 8px;
    margin-bottom: 0;
  }
}
@media (max-width: 970px) {
  .logo-text small {
    display: none;
  }
}

.page-vertion {
  max-width: 211px;
  display: flex;
  color: var(--link-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; /* 150% */
  gap: 10px;
  text-align: center;
}
.page-vertion:hover {
  color: var(--text-color);
}
.page-vertion__icon {
  width: 21px;
  height: 21px;
}

.link {
  display: flex;
  max-width: 50%;
  color: var(--text-link-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px; /* 150% */
  gap: 7px;
}
.link:hover {
  color: var(--link-color);
}
@media (max-width: 968px) {
  .link:hover {
    color: var(--line-color);
  }
}
@media (max-width: 1060px) {
  .link {
    margin-right: 0;
  }
}
@media (max-width: 970px) {
  .link {
    color: var(--bg-color-main);
    font-size: 12px;
    font-weight: 500;
    line-height: 14px; /* 116.667% */
  }
}
.link-logo {
  width: 28px;
  height: 28px;
}
.link-logo > svg > path {
  fill: var(--link-color);
}
@media (max-width: 970px) {
  .link-logo {
    width: 21px;
    height: 21px;
  }
  .link-logo > svg > path {
    fill: var(--mobile-link-color);
  }
}
.link-text {
  flex: 1;
}

.form-search {
  width: 100vw;
  position: fixed;
  right: 0;
  top: 158px;
  box-shadow: 0px 2px 8px 0px rgba(31, 33, 36, 0.15);
  transform-origin: 0 0;
  transform: rotateX(90deg);
  opacity: 0;
  visibility: hidden;
}
.form-search input {
  width: 100%;
  border: none;
  height: 50px;
  padding-left: 56px;
  outline: none;
}
@media (max-width: 970px) {
  .form-search {
    top: 78px;
  }
}
@media (max-width: 720px) {
  .form-search {
    top: 50px;
  }
}
.form-search input {
  font-family: "Mplus 1p", sans-serif;
}
.form-search__btn {
  position: absolute;
  top: 14px;
  left: 20px;
}
.form-search__btn-closed {
  position: absolute;
  top: 13px;
  right: 13px;
}

.form-search.form-search--active {
  z-index: 5;
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}

.mobile-display {
  display: none;
}
@media (max-width: 970px) {
  .mobile-display {
    display: block;
  }
}

/*navigation*/
.navigation {
  background-color: var(--link-color);
  padding: 0;
  position: relative;
}
.navigation__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 970px) {
  .navigation__container {
    justify-content: space-between;
    padding: 20px 24px;
  }
}
@media (max-width: 425px) {
  .navigation__container {
    padding: 11px 15px;
  }
}
.navigation__mobile {
  position: relative;
  align-items: center;
  cursor: pointer;
  width: 24px;
  height: 24px;
}
@media (max-width: 970px) {
  .navigation__mobile {
    display: block;
  }
}
.navigation__mobile span {
  position: absolute;
  top: calc(55% - 2px);
  left: 11%;
  width: 84%;
  height: 2px;
  background-color: var(--bg-color-main);
  display: inline-block;
  transition: all 0.3s ease 0s;
  border-radius: 1px;
}
.navigation__mobile span:first-child {
  top: 0;
  margin-top: 5px;
}
.navigation__mobile span:last-child {
  top: auto;
  bottom: 0;
  margin-bottom: 5px;
}
.navigation__list {
  width: calc(100% - 60px);
}
.navigation__list > ul {
  display: flex;
}
.navigation__list > ul > li {
  position: relative;
  color: var(--bg-color-main);
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  flex: 1;
}
.navigation__list > ul > li:nth-child(3) > ul {
  left: -140%;
}
.navigation__list > ul > li:nth-child(4) > ul {
  left: -180%;
}
.navigation__list > ul > li:nth-child(5) > ul {
  right: 0;
}
.navigation__list > ul > li > a {
  padding-top: 16px;
  padding-bottom: 14px;
  padding: 16px;
  white-space: nowrap;
  text-align: center;
  display: block;
}
@media (max-width: 1130px) {
  .navigation__list > ul > li > a {
    padding: 16px 20px 14px 20px;
  }
}
@media (max-width: 1024px) {
  .navigation__list > ul > li > a {
    padding: 16px 18px 14px 18px;
  }
}
.navigation__list > ul > li:hover > a {
  background-color: var(--hovered--link-color);
}
.navigation__list > ul > li :hover > a {
  color: var(--hovered--link-color);
  background-color: var(--bg-color-main);
}
.navigation__list > ul > li:hover > ul {
  z-index: 5;
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}
.navigation__list > ul > li > ul {
  position: absolute;
  background-color: var(--bg-color-main);
  display: block;
  -moz-column-count: 2;
       column-count: 2;
  width: 700px;
  height: auto;
  padding: 30px;
  box-shadow: 0px 2px 8px 0px rgba(31, 33, 36, 0.15);
  transform-origin: 0 0;
  transform: rotateX(90deg);
  opacity: 0;
  visibility: hidden;
}
.navigation__list > ul > li > ul > li {
  width: 100%;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-transform: none;
}
.navigation__list > ul > li > ul > li::before {
  position: absolute;
  content: url("../img/header/menu-arrow.svg");
}
.navigation__list > ul > li > ul > li :hover > a {
  color: var(--hovered--link-color);
  background-color: var(--bg-color-main);
}
.navigation__list > ul > li > ul > li > a {
  padding: 0 0 0 25px;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px; /* 150% */
}
.navigation__list > ul > li > ul > li ul {
  display: block;
  margin: 10px 0 0 25px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.navigation__list > ul > li > ul > li ul li {
  margin-bottom: 5px;
  width: 100%;
}
.navigation__list > ul > li > ul > li ul li > a {
  padding: 0;
}
@media (max-width: 970px) {
  .navigation__list {
    display: none;
    position: absolute;
    top: 82px;
    left: 0;
  }
  .navigation__list > ul {
    flex-direction: column;
    background-color: var(--bg-color);
    padding: 40px 20px 40px 40px;
  }
  .navigation__list > ul > li {
    border-left: none;
    color: var(--text-color);
  }
  .navigation__list > ul > li > ul {
    left: 109%;
    -moz-column-count: 1;
         column-count: 1;
    min-width: 350px;
    padding: 20px 10px 10px 20px;
  }
}

/*promo*/
.promo {
  padding: 0 0 30px;
}
@media (max-width: 1024px) {
  .promo {
    padding-bottom: 26px;
  }
}
@media (max-width: 880px) {
  .promo {
    padding-bottom: 20px;
  }
}
.promo__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.promo__bg img {
  -o-object-fit: cover;
     object-fit: cover;
}
.promo__container {
  position: relative;
  padding-top: 91px;
}
@media (max-width: 1024px) {
  .promo__container {
    padding: 55px 52px 0;
  }
}
@media (max-width: 768px) {
  .promo__container {
    padding: 60px 24px 0;
  }
}
@media (max-width: 425px) {
  .promo__container {
    padding: 40px 15px 0;
  }
}
.promo__slider-item {
  position: relative;
  height: 602px;
}
@media (max-width: 1024px) {
  .promo__slider-item {
    height: 500px;
  }
}
@media (max-width: 768px) {
  .promo__slider-item {
    height: 360px;
  }
}
@media (max-width: 425px) {
  .promo__slider-item {
    height: 300px;
  }
}
@media (max-width: 425px) {
  .promo__title {
    width: 210px;
  }
}
.promo__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
@media (max-width: 1024px) {
  .promo__text {
    line-height: 30px; /* 125% */
  }
}
@media (max-width: 768px) {
  .promo__text {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 425px) {
  .promo__text {
    font-size: 14px;
    line-height: 21px; /* 150% */
    margin-bottom: 10px;
  }
}
.promo__btn {
  font-family: "Mplus 1p";
  height: auto;
  width: 250px;
  padding: 14px 60px;
  border-radius: 5px;
  border: 1px solid var(--button-color);
  color: var(--button-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 21px; /* 116.667% */
  position: relative;
  text-align: left;
  transition: all 0.3s ease-in;
}
.promo__btn:hover {
  font-weight: 700;
}
@media (max-width: 1024px) {
  .promo__btn {
    width: 208px;
    padding: 14px 40px;
  }
}
@media (max-width: 768px) {
  .promo__btn {
    width: 144px;
    font-size: 14px;
    padding: 8px 20px;
  }
}
.promo__btn::after {
  content: url("../img/promo-slider/arrow-btn.svg");
  position: absolute;
  right: 60px;
}
@media (max-width: 1024px) {
  .promo__btn::after {
    right: 40px;
  }
}
@media (max-width: 768px) {
  .promo__btn::after {
    right: 18px;
  }
}
.promo__slider-content {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  z-index: 10;
}
@media (max-width: 1024px) {
  .promo__slider-content {
    max-width: 375px;
  }
}
@media (max-width: 768px) {
  .promo__slider-content {
    max-width: 380px;
    gap: 20px;
  }
}
@media (max-width: 425px) {
  .promo__slider-content {
    max-width: 260px;
    gap: 10px;
  }
}
.promo__bottom {
  margin: 0 auto;
  height: 4px;
  position: relative;
  bottom: 20px;
  left: 15px;
  z-index: 10;
}
@media (max-width: 1024px) {
  .promo__bottom {
    margin-left: 42px;
  }
}
@media (max-width: 768px) {
  .promo__bottom {
    bottom: 6px;
    left: -22px;
  }
}
@media (max-width: 425px) {
  .promo__bottom {
    left: -28px;
  }
}
.promo__bottom span {
  width: 23px !important;
  height: 4px !important;
  transition: all 0.3s;
  border-radius: 0 !important;
}
@media (max-width: 768px) {
  .promo__bottom span {
    width: 8px !important;
    margin-right: 3px !important;
    margin-left: 2px !important;
  }
}
.promo__bottom span:hover {
  background-color: var(--link-color);
}
.promo__bottom span:focus {
  background-color: var(--link-color);
}
.promo__dots {
  width: auto !important;
}
.promo__arrows {
  position: absolute;
  width: 36px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  bottom: 322px;
  right: 27px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .promo__arrows {
    bottom: 193px;
    right: 55px;
  }
}
@media (max-width: 768px) {
  .promo__arrows {
    display: none;
  }
}
.promo__arrow-next:hover > svg > path, .promo__arrow-prev:hover > svg > path {
  stroke-opacity: 1;
}
.promo__arrow-next:focus > svg > path, .promo__arrow-prev:focus > svg > path {
  stroke-opacity: 1;
}

.slick-arrow,
.slick-dots {
  position: absolute;
}

/*options*/
.options__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 880px) {
  .options__wrap {
    gap: 20px;
  }
}
@media (max-width: 670px) {
  .options__wrap {
    gap: 10px;
  }
}
.options__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(50% - 15px);
  gap: 30px;
  padding: 35px 40px 35px 30px;
  background-color: var(--bg-color);
}
@media (max-width: 880px) {
  .options__item {
    gap: 20px;
    width: calc(50% - 10px);
    padding: 35px 20px 35px 20px;
  }
}
@media (max-width: 670px) {
  .options__item {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .options__item {
    padding: 20px;
  }
}
.options__item-icon {
  min-width: 70px;
  height: 70px;
}
@media (max-width: 880px) {
  .options__item-icon {
    min-width: 50px;
    height: 50px;
  }
}
.options__item-content {
  flex: 1;
}
.options__item-link {
  display: block;
  color: var(--text-link-color);
  font-size: 21px;
  font-weight: 700;
  line-height: 32px; /* 152.381% */
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 1024px) {
  .options__item-link {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 880px) {
  .options__item-link {
    gap: 11px;
  }
}
@media (max-width: 425px) {
  .options__item-link {
    font-size: 16px;
    line-height: 21px; /* 131.25% */
  }
}
.options__item-link > span {
  flex: 1;
}

.link-img {
  width: 24px;
  height: 24px;
}
@media (max-width: 425px) {
  .link-img {
    display: none;
  }
}

.options__item:hover .options__item-content .options__item-link > span {
  color: var(--link-color);
}

/*news*/
.news__slider-top {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .news__slider-top {
    margin-bottom: 20px;
  }
}
.news__slider {
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .news__slider {
    margin-bottom: 40px;
  }
}
.news__slider-img {
  display: block;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  z-index: 10;
}
.news__slider-img img {
  transition: transform 0.4s;
}
.news__slider-img img:hover {
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}
.news__slider-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.news__date {
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
.news__text {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 21px; /* 131.25% */
  transform: color 0.3s;
}
.news__text:hover {
  color: var(--hovered--link-color);
}
.news__agreement {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.news__arrows {
  position: absolute;
  display: flex;
  gap: 10px;
  cursor: pointer;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .news__arrows {
    display: none;
  }
}
.news__arrow-prev {
  width: 36px;
  height: 36px;
  background-color: var(--bg-color);
}
.news__arrow-next {
  width: 36px;
  height: 36px;
  background-color: var(--bg-color);
}
.news__swiper-pagination {
  display: none;
  bottom: 0 !important;
}
@media (max-width: 768px) {
  .news__swiper-pagination {
    display: block;
  }
}
.news__swiper-pagination > span {
  width: 23px !important;
  height: 4px !important;
  transition: all 0.3s;
  border-radius: 0 !important;
}
@media (max-width: 768px) {
  .news__swiper-pagination > span {
    width: 8px !important;
    margin-right: 3px !important;
    margin-left: 2px !important;
  }
}
.news__swiper-pagination > span:hover {
  background-color: var(--link-color);
}
.news__swiper-pagination > span:focus {
  background-color: var(--link-color);
}

/*partner-links*/
.partners__slider-top {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .partners__slider-top {
    margin-bottom: 20px;
  }
}
.partners__arrows {
  position: absolute;
  display: flex;
  gap: 10px;
  cursor: pointer;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .partners__arrows {
    display: none;
  }
}
.partners__arrow-prev {
  width: 36px;
  height: 36px;
  background-color: var(--bg-color);
}
.partners__arrow-next {
  width: 36px;
  height: 36px;
  background-color: var(--bg-color);
}
.partners__slider {
  margin-bottom: 30px;
}
@media (max-width: 425px) {
  .partners__slider {
    margin-bottom: 40px;
  }
}
.partners__slider-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid var(--border-color);
}
.partners__slider-item:hover p {
  color: var(--hovered--link-color);
}
.partners__slider-img {
  min-width: 60px;
  height: 60px;
}
.partners__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
@media (max-width: 1024px) {
  .partners__text {
    font-size: 12px;
    line-height: normal;
  }
}
.partners__swiper-pagination {
  display: none;
  bottom: 0 !important;
}
@media (max-width: 768px) {
  .partners__swiper-pagination {
    display: block;
  }
}
.partners__swiper-pagination > span {
  width: 23px !important;
  height: 4px !important;
  transition: all 0.3s;
  border-radius: 0 !important;
}
@media (max-width: 768px) {
  .partners__swiper-pagination > span {
    width: 8px !important;
    margin-right: 3px !important;
    margin-left: 2px !important;
  }
}
.partners__swiper-pagination > span:hover {
  background-color: var(--link-color);
}
.partners__swiper-pagination > span:focus {
  background-color: var(--link-color);
}

/*footer*/
.footer {
  background-color: var(--bg-color);
  margin-top: 30px;
}
@media (max-width: 768px) {
  .footer {
    margin-top: 40px;
  }
}
.footer__wrap {
  padding-top: 50px;
  padding-bottom: 32px;
}
@media (max-width: 768px) {
  .footer__wrap {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 425px) {
  .footer__wrap {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.footer__top {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--line-color);
}
.footer__top-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 545px) {
  .footer__top-row {
    flex-direction: column;
    gap: 20px;
  }
}
.footer__top-coll {
  max-width: 23%;
}
@media (max-width: 545px) {
  .footer__top-coll {
    max-width: 100%;
  }
}
.footer__top-caption {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .footer__top-caption {
    font-size: 12px;
  }
}
@media (max-width: 545px) {
  .footer__top-caption {
    margin-bottom: 5px;
  }
}
.footer__top-menu > ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 600px) {
  .footer__top-menu > ul {
    gap: 5px;
  }
}
.footer__top-menu > ul > li {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; /* 150% */
}
.footer__top-menu > ul > li > a:hover {
  color: var(--hovered--link-color);
}
@media (max-width: 600px) {
  .footer__top-menu > ul > li {
    font-size: 12px;
    line-height: normal;
  }
}
.footer__top-menu-big {
  margin-top: 20px;
}
@media (max-width: 768px) {
  .footer__top-menu-big {
    margin-top: 10px;
  }
}
.footer__top-menu-big > ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 768px) {
  .footer__top-menu-big > ul {
    gap: 15px;
  }
}
@media (max-width: 545px) {
  .footer__top-menu-big > ul {
    gap: 10px;
  }
}
.footer__top-menu-big > ul > li {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
}
@media (max-width: 768px) {
  .footer__top-menu-big > ul > li {
    font-size: 12px;
  }
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 860px) {
  .footer__bottom {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
  }
}
.footer__bottom small {
  color: var(--text-small-color);
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
}
.footer__bottom small sup {
  text-decoration: underline;
}
.footer__logo {
  display: flex;
  align-items: baseline;
  gap: 15px;
}
@media (max-width: 425px) {
  .footer__logo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.footer__logo-text {
  font-size: 18px;
  font-weight: 800;
  line-height: 1;
  text-transform: uppercase;
  align-self: stretch;
}
@media (max-width: 980px) {
  .footer__logo-text {
    color: var(--text-color);
  }
}
@media (max-width: 860px) {
  .footer__logo-text {
    font-size: 16px;
    line-height: normal;
  }
}
@media (max-width: 425px) {
  .footer__logo-text {
    display: none;
  }
}
.footer__logo-text small {
  margin-top: 2px;
  line-height: 2;
}
@media (max-width: 860px) {
  .footer__logo-text small {
    font-size: 11px;
    margin-top: 20px;
    line-height: normal;
    margin-left: -8%;
  }
}
@media (max-width: 720px) {
  .footer__logo-text small {
    display: block;
  }
}
.footer__logo-img {
  width: 50px;
}
@media (max-width: 1024px) {
  .footer__bottom-center {
    max-width: 210px;
  }
}
@media (max-width: 860px) {
  .footer__bottom-center {
    max-width: 100%;
    text-align: center;
  }
}
.footer__bottom-center a {
  text-decoration: underline;
}

.small-mobile {
  display: none;
}
@media (max-width: 425px) {
  .small-mobile {
    display: block;
    text-align: center;
  }
}

/*mobile-menu*/
.mobile__menu {
  position: absolute;
  background-color: var(--bg-color-main);
  height: 100vh;
  width: 100%;
  max-width: 100%;
  display: none;
}
.mobile__links {
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
  margin-bottom: 51px;
}
.mobile__link {
  display: flex;
  align-items: center;
  gap: 8px;
}
.mobile__link-logo {
  width: 28px;
  height: 28px;
}
.mobile__link-text {
  color: var(--text-link-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 21px; /* 131.25% */
}
.mobile__page-vertions {
  padding-left: 15px;
}
.mobile__page-vertions > a {
  color: var(--link-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 21px; /* 150% */
}

.mobile-form-search {
  position: relative;
  border-bottom: 1px solid var(--border-color);
}
.mobile-form-search input {
  width: 100%;
  border: none;
  height: 50px;
  padding-left: 56px;
  outline: none;
}
.mobile-form-search input {
  font-family: "Mplus 1p", sans-serif;
}
.mobile-form-search__btn {
  position: absolute;
  top: 14px;
  left: 20px;
}
.mobile-form-search__btn-closed {
  position: absolute;
  top: 13px;
  right: 13px;
}
.mobile-form-search__btn-closed::hover > svg > path {
  stroke: var(--link-color);
}

.mobile-navigation__list {
  background-color: var(--bg-color);
  margin-bottom: 34px;
  display: block;
}
.mobile-navigation__list > ul {
  flex-direction: column;
}
.mobile-navigation__list > ul > li {
  position: relative;
  padding: 15px;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 21px; /* 131.25% */
}
.mobile-navigation__list > ul > li:nth-child(3) > ul {
  top: -105px;
}
.mobile-navigation__list > ul > li:nth-child(4) > ul {
  top: -157px;
}
.mobile-navigation__list > ul > li:nth-child(5) > ul {
  top: -208px;
}
.mobile-navigation__list > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-navigation__list > ul > li > a::after {
  position: absolute;
  content: url("../img/header/arrow-mob.svg");
  right: 13px;
  top: 13px;
}
.mobile-navigation__list > ul > li > ul {
  transform-origin: 0 0;
  transform: rotateX(90deg);
  opacity: 0;
  visibility: hidden;
  position: absolute;
  display: block;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: var(--bg-color-main);
}
.mobile-navigation__list > ul > li > ul > li {
  position: relative;
  padding: 15px;
  width: 100%;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 21px; /* 131.25% */
  background-color: var(--bg-color);
}
.mobile-navigation__list > ul > li > ul > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile__menu.navigation__list--active {
  display: block;
  top: 0;
  z-index: 10;
}

.active-list {
  z-index: 5;
  transform: rotateX(0deg);
  opacity: 1;
  visibility: visible;
}

/*fix-cookies*/
.fix-cookies {
  position: fixed;
  width: 350px;
  height: 116px;
  bottom: 25px;
  right: 25px;
  border-radius: 2px;
  box-shadow: 0px 2px 3px 0px rgba(54, 62, 66, 0.15);
  background-color: var(--bg-color);
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 0.8s;
}
.fix-cookies_vissible {
  opacity: 1;
  visibility: visible;
}
@media (max-width: 768px) {
  .fix-cookies {
    width: 100%;
    height: auto;
    bottom: 0;
    right: 0;
  }
}
.fix-cookies__wrap {
  padding: 28px 29px 25px;
}
@media (max-width: 768px) {
  .fix-cookies__wrap {
    padding: 30px 15px 15px;
  }
}
.fix-cookies__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px; /* 150% */
}
.fix-cookies__link {
  color: var(--link-color);
}
.fix-cookies__btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 18px;
  height: 18px;
}
.fix-cookies__btn:hover svg path {
  stroke: var(--link-color);
}/*# sourceMappingURL=style.css.map */