/*footer*/
.footer {
    background-color: var(--bg-color);
    margin-top: 30px;

    @media (max-width: 768px) {
            margin-top: 40px;
        }

    &__wrap {
        padding-top: 50px;
        padding-bottom: 32px;

        @media (max-width: 768px) {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        @media (max-width: 425px) {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &__top {
        padding-bottom: 30px;
        border-bottom: 1px solid var(--line-color);

        &-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            @media (max-width: 545px) {
                flex-direction: column;
                gap: 20px;
            }
		}

		&-coll {
            max-width: 23%;

            @media (max-width: 545px) {
                max-width: 100%;
            }
		}

		&-caption {
            @include subtitle;
            margin-bottom: 15px;

            @media (max-width: 768px) {
                font-size: 12px;
            }

            @media (max-width: 545px) {
                margin-bottom: 5px;
            }
		}

		&-menu {

            & > ul{
                display: flex;
                flex-direction: column; 
                gap: 10px;

                @media (max-width: 600px) {
                    gap: 5px;
                }

                & > li{
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 21px; /* 150% */

                    & > a {
                        &:hover{
                            color: var(--hovered--link-color);
                        }
                    }

                    @media (max-width: 600px) {
                        font-size: 12px;
                        line-height: normal;
                    }
                }
            }

            &-big {
                margin-top: 20px;

                @media (max-width: 768px) {
                    margin-top: 10px;                
                }

                & > ul{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    @media (max-width: 768px) {
                        gap: 15px;
                    }

                    @media (max-width: 545px) {
                        gap: 10px;
                    }

                    & > li{
                        @include subtitle;
                        
                        @media (max-width: 768px) {
                            font-size: 12px;
                        }
                    }
                }
		    }
	    }
    }

	&__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 30px;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;

        @media (max-width: 860px) {
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            flex-direction: column;
        }

        & small{
            color: var(--text-small-color);
            font-size: 12px;
            font-weight: 400;
            text-transform: none;

            & sup {
                text-decoration: underline;
            }
        }
	}

	&__logo {
        display: flex;
        align-items: baseline;
        gap: 15px;

        @media(max-width: 425px){
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &-text {
            font-size: 18px;
            font-weight: 800;
            line-height: 1;
            text-transform: uppercase;
            align-self: stretch;

            @media (max-width: 980px) {
                color: var(--text-color);
            }

            @media (max-width: 860px) {
                font-size: 16px;
                line-height: normal;
            }

            @media(max-width: 425px){
                display: none;
            }
            
            & small {
                margin-top: 2px;
                line-height: 2;

                @media (max-width: 860px) {
                    font-size: 11px;
                    margin-top: 20px;
                    line-height: normal;
                    margin-left: -8%;
                }

                @media(max-width: 720px){
                    display: block;
                }
            }
        }
	}

	&__logo-img {
        width: 50px;
	}

	&__bottom-center {
        @media (max-width: 1024px) {
            max-width: 210px;
        }

        @media (max-width: 860px) {
            max-width: 100%;
            text-align: center;
        }

        & a{
            text-decoration: underline;
        }
	}
}

.small-mobile{
    display: none;

    @media(max-width: 425px){
        display: block;
        text-align: center;
    }
}
