/*header*/
.header {

    &__container{
        display: flex;
        justify-content: space-between;
        padding: 30px 15px 25px;

        @media(max-width: 960px){
            padding: 10px 15px 15px;
        }

        @media(max-width: 680px){
            justify-content: center;
            gap: 100px;
            padding-bottom: 5px;
            padding-top: 5px;
        }
    }

	&__logo {
        display: flex;
        align-items: center;
        gap: 15px;
    }

	&__page-vertions {
        display: flex;
        flex-direction: column;
        gap: 6px;

        @media(max-width: 680px){
            display: none;
        }
    }

	&__links {
        display: flex;
        max-width: 286px;
        gap: 7px;

        @media(max-width: 680px){
            gap: 30px;
            align-items: center;
        }

        @media(max-width: 425px){
            max-width: 200px;        
        }
    }

    &__search{
        position: relative;
        padding: 14px 30px 8px;
        border-right: 1px solid rgba(255, 255, 255, 0.05);
        border-left: 1px solid rgba(255, 255, 255, 0.05);

        @media(max-width: 680px){
            border-right: none;
        }

        &:hover{
            background-color: var(--hovered--link-color);
            cursor: pointer;
        }
    }
}

.logo-img {
    width: 100px;
    height: 52px;

    @media(max-width: 680px){
        width: 80px;
    }
}

.logo-text {
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;

    @media(max-width: 1060px){
        font-size: 18px;
    }

    @media(max-width: 960px){
        display: none;
    }

    & small{
        display: block;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin-bottom: 3px;

        @media(max-width: 1060px){
            font-size: 8px;
        }
    }
}

.page-vertion {
    max-width: 211px;
    display: flex;
    color: var(--link-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
    gap: 10px;
    text-align: center;

    &:hover{
        color: var(--text-color);
    }

	&__icon {
        width: 21px;
        height: 21px;
	}
}

.link {
    display: flex;
    max-width: 50%;
    color: var(--text-link-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px; /* 150% */
    gap: 7px;

    @media(max-width: 1060px){
        margin-right: 0;
    }

    &-logo {
        width: 28px;
        height: 28px;

        @media(max-width: 680px){
            width: 38px;
            height: 38px;
        }
    }

    &-text{
        flex: 1;

        @media(max-width: 680px){
            display: none;
        }
    }
}

//выпадающее меню поиска
.form-search{
    width: 60vw;
    position: absolute;
    right: 0;
    top: 50px;
    box-shadow: 0px 2px 8px 0px rgba(31, 33, 36, 0.15);
    @include nav-hidden;

    @media(max-width: 680px){
        width: 90vw;
    }

    & input {
        width: 100%;
        border: none;
        height: 50px;    
        // width: 1099px;
        padding-left: 56px;
        outline: none;
    }

    &__btn {
        position: absolute;
        top: 14px;
        left: 20px;
    }

    &__btn-closed {
        position: absolute;
        top: 13px;
        right: 13px;
    }
}

.form-search{
    &.form-search--active{
        @include nav-vissible;
    }
}