/*header*/
.header {
    position: relative;
    display: flex;
    flex-direction: column;

    @media(max-width: 970px){
        background-color: var(--link-color);
    }

    @media(max-width: 720px){
        flex-direction: column-reverse;
    }

    &-bottom{
        @media(max-width: 970px){
            display: none;
        }
    }

    &-top{
        @media(max-width: 720px){
            height: 100px;
        }
    }

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 15px 25px;

        @media(max-width: 1024px){
            padding: 29px 42px 28px;
        }

        @media(max-width: 970px){
            padding: 25px;
        }

        @media(max-width: 720px){
            padding: 11px;
        }
    }

	&__logo {
        display: flex;
        align-items: center;
        gap: 15px;
        
        @media(max-width: 720px){
            justify-content: center;
            position: absolute;  
            bottom: 0;
            left: 0;
            background-color: #fff;    
            width: 100%;
            padding: 15px 0;
        }
    }

	&__page-vertions {
        display: flex;
        flex-direction: column;
        gap: 6px;

        @media(max-width: 1024px){
            row-gap: 10px;
        }

        @media(max-width: 970px){
            display: none;
        }
    }

	&__links {
        display: flex;
        max-width: 286px;
        gap: 7px;

        @media(max-width: 1024px){
            max-width: 251px;
            gap: 33px;
        }
        
        @media(max-width: 970px){
            max-width: 207px;
            gap: 30px;
        }
        
        @media(max-width: 425px){
            max-width: 196px;
            gap: 20px;
        }
    }

    &__search{
        position: relative;
        // padding: 14px 30px 8px;
        border-right: 1px solid rgba(255, 255, 255, 0.05);
        border-left: 1px solid rgba(255, 255, 255, 0.05);

        @media(max-width: 970px){
            border: none;
            padding: 0;
            height: 22px;
        }

        &:hover{
            background-color: var(--hovered--link-color);
            cursor: pointer;

            @media(max-width: 970px){
                background-color: transparent;
            }
        }

        &-btn{
            width: 100%;
            padding: 16px 30px;

            @media (max-width: 1024px) {
                padding: 14px 18px;
            }

            @media (max-width: 970px) {
                padding: 0;

                & > svg{
                    & > path{
                        fill: var(--mobile-link-color);
                    }
                }
            }
        }
    }
}

.logo-img {
    width: 100px;
    height: 52px;

    & > svg{
        & > path{
            fill: var(--link-color);
        }
    }

    @media(max-width: 1050px){
        width: 60px;
        height: 100%;
    }

    @media(max-width: 970px){
        & > svg{
            & > path{
                fill: var(--mobile-link-color);
            }
        }
    }

    @media(max-width: 720px){
        width: 40px;

        & > svg{
            & > path{
                fill: var(--link-color);
            }
        }
    }
}

.logo-text {
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;

    @media(max-width: 1024px){
        font-size: 18px;
    }

    @media(max-width: 970px){
        color: var(--bg-color-main);
        font-size: 16px;
    }

    @media(max-width: 720px){
        color: var(--text-color);
        font-size: 14px;
    }

    & small{
        display: block;
        font-size: 10px;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin-bottom: 3px;

        @media(max-width: 1024px){
            font-size: 8px;
            margin-bottom: 0;
        }

        @media(max-width: 970px){
            display: none;
        }
    }
}

.page-vertion {
    max-width: 211px;
    display: flex;
    color: var(--link-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px; /* 150% */
    gap: 10px;
    text-align: center;

    &:hover{
        color: var(--text-color);
    }

	&__icon {
        width: 21px;
        height: 21px;
	}
}

.link {
    display: flex;
    max-width: 50%;
    color: var(--text-link-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px; /* 150% */
    gap: 7px;
    

    &:hover{
        color: var(--link-color);

        @media(max-width: 968px){
            color: var(--line-color);
        }
    }

    @media(max-width: 1060px){
        margin-right: 0;
    }

    @media(max-width: 970px){
        color: var(--bg-color-main);
        font-size: 12px;
        font-weight: 500;
        line-height: 14px; /* 116.667% */
    }

    &-logo {
        width: 28px;
        height: 28px;

        & > svg{
            & > path{
                fill: var(--link-color);
            }
        }

        @media(max-width: 970px){
            width: 21px;
            height: 21px;

            & > svg{
                & > path{
                    fill: var(--mobile-link-color);
                }
            }
        }
    }

    &-text{
        flex: 1;
    }
}

//выпадающее меню поиска
.form-search{
    width: 100vw;
    position: fixed;
    right: 0;
    top: 158px;
    box-shadow: 0px 2px 8px 0px rgba(31, 33, 36, 0.15);
    @include form-search;
    @include nav-hidden;

    @media(max-width: 970px){
        top: 78px;
    }

    @media(max-width: 720px){
        top: 50px;
    }

    &__btn {
        @include form-search-btn;
    }

    &__btn-closed {
        @include form-search-btn-closed;
    }
}

.form-search{
    &.form-search--active{
        @include nav-vissible;
    }
}

.mobile-display{
    display: none;

    @media(max-width: 970px){
        display: block;
    }
}