/*mobile-menu*/
.mobile {
    
    &__menu {
        position: absolute;
        background-color: var(--bg-color-main);
        height: 100vh;
        // width: 400px;
        width: 100%;
        max-width: 100%;
        display: none;
    }

	&__links {
        padding-left: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 26px;
        margin-bottom: 51px;
	}

	&__link {
        display: flex;
        align-items: center;
        gap: 8px;
	}

	&__link-logo {
        width: 28px;
        height: 28px;
	}

	&__link-text {
        color: var(--text-link-color);
        font-size: 16px;
        font-weight: 700;
        line-height: 21px; /* 131.25% */
	}

    &__page-vertions{
        padding-left: 15px;

        & > a{
            color: var(--link-color);
            font-size: 14px;
            font-weight: 700;
            line-height: 21px; /* 150% */
        }
    }
}

.mobile-form-search {
    position: relative;
    @include form-search;
    border-bottom: 1px solid var(--border-color);

    & input{
        font-family: $font-M-Plus;
    }

    &__btn {
        @include form-search-btn;
    }

    &__btn-closed {
        @include form-search-btn-closed;
    }
}

.mobile-navigation {

    &__list {
        background-color: var(--bg-color);
        margin-bottom: 34px;
        display: block;

        & > ul {
        flex-direction: column;
        
            & > li{
                position: relative;
                padding: 15px;
                color: var(--text-color);
                border-bottom: 1px solid var(--border-color);
                font-size: 16px;
                font-weight: 700;
                line-height: 21px; /* 131.25% */

                &:nth-child(3){
                    & > ul{
                        top: -105px;
                    }
                }

                &:nth-child(4){
                    & > ul{
                        top: -157px;
                    }
                }

                &:nth-child(5){
                    & > ul{
                        top: -208px;
                    }
                }

                & > a{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &::after{
                        position: absolute;
                        content: url('../img/header/arrow-mob.svg');
                        right: 13px;
                        top: 13px;
                    } 
                }

                &:hover > ul{
                    @include nav-vissible;
                }

                & > ul{
                    @include nav-hidden;
                    position: absolute;
                    display: block;
                    width: 100%;
                    height: 100vh;
                    left: 0;
                    top: 0;
                    background-color: var(--bg-color-main);

                    & > li{
                        position: relative;
                        padding: 15px;
                        width: 100%;
                        color: var(--text-color);
                        border-bottom: 1px solid var(--border-color);
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 21px; /* 131.25% */
                        background-color: var(--bg-color);

                        & > a{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }    
                }
            }
        }
    }
}

.mobile__menu{

    &.navigation__list--active{
        display: block;
        top: 0;
        z-index: 10;

        // @media(max-width: 720px){
        //     top: 50px;
        // }
    }
}

