/*navigation*/

.navigation{
    background-color: var(--link-color);
    padding: 0;

    &__container{
        display: flex;
    }
        
    &__list{
//menu
        & > ul{
            display: flex;
            
            & > li{
                position: relative;
                color: var(--bg-color-main);
                border-left: 1px solid rgba(255, 255, 255, 0.05);
                @include subtitle;
                
                & a{
                    padding: 16px 27px 14px 33px;
                    display: block;
                }

                &:hover > a{
                    background-color: var(--hovered--link-color);
                }

                & :hover > {
                    & a{
                        color: var(--hovered--link-color);
                        background-color: var(--bg-color-main);
                    }
                }

                &:hover > ul{
                    @include nav-vissible;
                }
//submenu
                & > ul{
                    position: absolute;
                    background-color: var(--bg-color-main);
                    display: block;
                    column-count: 2;
                    width: 700px;
                    height: auto;
                    padding: 30px;
                    margin-top: 2px;
                    box-shadow: 0px 2px 8px 0px rgba(31, 33, 36, 0.15);                    
                    @include nav-hidden;
                    
                    & > li  {
                        width: 100%;
                        margin-bottom: 20px;
                        color: var(--text-color);
                        @include headline;
                        text-transform: none;

                        &::before{
                            position: absolute;
                            content: url('../img/header/menu-arrow.svg');
                        }

                        & :hover > {
                            & a{
                                color: var(--hovered--link-color);
                                background-color: var(--bg-color-main);
                            }
                        }

                        & > a{
                            padding: 0 0 0 25px;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 21px; /* 150% */
                        }

                        & ul{
                            display: block;
                            margin: 10px 0 0 25px;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px; /* 150% */

                            & li{
                                margin-bottom: 5px;
                                width: 100%;
                                
                                & > a{
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.submenu-2{
    right: -150%;

    &__list{
        

        & a{
        }
    }



}

.submenu-3{
    right: -250%;
}

.submenu-4{
    right: 0;
}
