/*navigation*/

.navigation{
    background-color: var(--link-color);
    padding: 0;
    position: relative;

    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        
        @media(max-width: 970px){
            justify-content: space-between;
        }

        @media(max-width: 970px){
            padding: 15px 23px 15px;
        }
        
        @media(max-width: 320px){
            padding: 13px 15px 10px;
        }
    }
        
    &__mobile{
        position: relative;
        align-items: center;
        cursor: pointer;
        width: 24px;
        height: 24px;

        @media(max-width: 970px){
            display: block;
        }

        & span {
            position: absolute;
            top: calc(55% - 2px);
            left: 11%;
            width: 84%;
            height: 2px;
            background-color: var(--bg-color-main);
            display: inline-block;
            transition: all 0.3s ease 0s;
            border-radius: 1px;

            &:first-child {
                top: 0;
                margin-top: 5px;
            }

            &:last-child {
                top: auto;
                bottom: 0;
                margin-bottom: 5px;
            }
        }
    }

    &__list{

//menu
        & > ul{
            display: flex;
            
            & > li{
                position: relative;
                color: var(--bg-color-main);
                border-left: 1px solid rgba(255, 255, 255, 0.05);
                @include subtitle;
//position submenu
                &:nth-child(3){
                    & > ul{
                        left: -140%;
                    }
                }

                &:nth-child(4){
                    & > ul{
                        left: -180%;
                    }
                }

                &:nth-child(5){
                    & > ul{
                        right: 0;
                    }
                }
                
                & a{
                    padding: 16px 29px 14px 30px;
                    display: block;

                    @media (max-width: 1130px) {
                        padding: 16px 20px 14px 20px;
                    }

                    @media (max-width: 1024px) {
                        padding: 16px 18px 14px 18px;
                    }
                }

                &:hover > a{
                    background-color: var(--hovered--link-color);
                }
                
                & :hover > {
                    & a{
                        color: var(--hovered--link-color);
                        background-color: var(--bg-color-main);
                    }
                }

                &:hover > ul{
                    @include nav-vissible;
                }
                
//submenu
                & > ul{
                    position: absolute;
                    background-color: var(--bg-color-main);
                    display: block;
                    column-count: 2;
                    min-width: 700px;
                    height: auto;
                    padding: 30px;
                    box-shadow: 0px 2px 8px 0px rgba(31, 33, 36, 0.15);                    
                    @include nav-hidden;

                    // @media(max-width: 960px){
                    //     column-count: 1;
                    // }
                                        
                    & > li  {
                        width: 100%;
                        margin-bottom: 20px;
                        color: var(--text-color);
                        @include headline;
                        text-transform: none;
                        
                        &::before{
                            position: absolute;
                            content: url('../img/header/menu-arrow.svg');
                        }

                        & :hover > {
                            & a{
                                color: var(--hovered--link-color);
                                background-color: var(--bg-color-main);
                            }
                        }

                        & > a{
                            padding: 0 0 0 25px;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 21px; /* 150% */
                        }

                        & ul{
                            display: block;
                            margin: 10px 0 0 25px;
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 21px; /* 150% */

                            & li{
                                margin-bottom: 5px;
                                width: 100%;
                                
                                & > a{
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media(max-width: 970px){
            display: none;
            position: absolute;
            top: 82px;
            left: 0;

            & > ul {
                flex-direction: column;
                background-color: var(--bg-color);
                padding: 40px 20px 40px 40px;
                
                & > li{
                    border-left: none;
                    color: var(--text-color);

                    & > ul{
                        left: 109%;
                        column-count: 1;
                        min-width: 350px;
                        padding: 20px 10px 10px 20px;
                        
                        // @media(max-width: 630px){
                        //     min-width: 300px;

                        //     & > a{
                        //         padding-left: 20px;
                        //         font-size: 14px;
                        //     }
    
                        //     & ul{
                        //         display: block;
                        //         margin-top: 5px;
                        //         font-size: 12px;
                        //     }
                        // }

                        // @media(max-width: 580px){
                        //     left: 0;
                        //     min-width: 275px;
                        // }
                    }
                }
            }
        }
    }
}

.navigation__list{
    &.navigation__list--active{
        display: block;
    }
}

.navigation__mobile{

    // &.active{
    //     // margin-left: 200px;

    //     & span{
    //         transform: scale(0);
            
    //         &:first-child {
    //             transform: rotate(-45deg);
    //             top: calc(50% - 1px);
    //         }
    //         &:last-child {
    //             transform: rotate(45deg);
    //             bottom: calc(50% - 1px);
    //         }
    //     }
    // }
}


