/*news*/

.news {

    &__slider {
        margin-bottom: 30px;

        @media(max-width: 425px){
            margin-bottom: 40px;
        }

        &-img {
            display: block;
            margin-bottom: 15px;
            position: relative;
            overflow: hidden;
            z-index: 10;

            & img {
                &:hover{
                    transform: scale(1.1);
                    position: relative;
                    z-index: 1;
                }
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }

    &__date {
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
    }

    &__text {
        display: block;
        font-size: 16px;
        font-weight: 700;
        line-height: 21px; /* 131.25% */
    }

    &__agreement{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px; /* 150% */
    }

    &__arrows {
        @include arrows-block;
    }

    &__arrow-prev{
        @include arrow;
    }

    &__arrow-next{
        @include arrow;
    }

    &__swiper-pagination{
        @include pagination;

        & > span{
            @include pagination-dots;
        }
    }
}




