/*options*/

.options {

    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;

        @media(max-width: 880px){
            gap: 20px;
        }

        @media(max-width: 670px){
            gap: 10px;
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(50% - 15px);
        gap: 30px;
        padding: 35px 40px 35px 30px; 
        background-color: var(--bg-color);
        
        @media(max-width: 880px){
            gap: 20px;
            width: calc(50% - 10px);
            padding: 35px 20px 35px 20px;
        }

        @media(max-width: 670px){
            width: 100%;
        }

        @media(max-width: 425px){
            padding: 20px;
        }
    }
    
    &__item-icon {
        min-width: 70px;
        height: 70px;
        
        @media(max-width: 880px){
            min-width: 50px;
            height: 50px;
        }
    }

    &__item-content {
        flex: 1;
    }

    &__item-link {
        display: block;
        color: var(--text-link-color);
        font-size: 21px;
        font-weight: 700;
        line-height: 32px; /* 152.381% */
        display: flex;
        align-items: center;
        gap: 40px;

        @media(max-width: 1024px){
            font-size: 18px;
            line-height: 24px;
        }

        @media(max-width: 880px){
            gap: 11px;
        }

        @media(max-width: 425px){
            font-size: 16px;
            line-height: 21px; /* 131.25% */
        }

        & > span{
            flex: 1;
        }
    }
}

.link-img {
    width: 24px;
    height: 24px;

    @media(max-width: 425px){
        display: none;
    }
}

.options__item:hover .options__item-content .options__item-link > {
    & span{
        color: var(--link-color);
    }
}
    
        